/* EXTERNAL */
.colors {
    color: hsl(217, 19%, 35%); /*Very Dark Grayish Blue*/
    color: hsl(214, 17%, 51%); /*Desaturated Dark Blue*/
    color: hsl(212, 23%, 69%); /*Grayish Blue*/
    color: hsl(210, 46%, 95%); /*Light Grayish Blue*/
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/*
    font-family: 'Manrope', sans-serif;
*/

/* GENERAL */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(210, 46%, 95%);
}

/* SPECIFY */
.hero-card {
    width: 730px;
    height: 280px;
    display: flex;
    background: white;
    border-radius: 10px;
}
    .hero-card .hero-img {
        min-width: 285px;
        background: url(images/drawers.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }

    .hero-card .card-cont {
        padding: 35px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
        .hero-card .card-cont h1 {
            font-size: 20px;
            color: hsl(217, 19%, 35%);
        }
        .hero-card .card-cont p {
            font-size: 13px;
            max-width: 345px;
            color: hsl(214, 17%, 51%);
        }

        .hero-card .card-cont .desktop-down {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .hero-card .card-cont .desktop-down .left {
                display: flex;
                gap: 12px;
                justify-content: center;
                align-items: center;
            }
                .hero-card .card-cont .desktop-down .left img {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                }
                        .hero-card .card-cont .desktop-down .left  p:first-of-type{
                            color: hsl(217, 19%, 35%);
                            font-weight: 700;
                        }

            .hero-card .card-cont .desktop-down .right {
                padding-right: 25px;
            }
                .hero-card .card-cont .desktop-down .right .share {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: hsl(210, 46%, 95%);
                    cursor: pointer;
                }

            .hero-card .card-cont .desplegable {
                visibility: hidden;
            }
            .hero-card .card-cont .desplegable.show {
                visibility: visible;
                width: 245px;
                min-height: 55px;
                border-radius: 10px;
                position: relative;
                top: -130px;
                right: -195px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: hsl(217, 19%, 35%);
                gap: 15px;
            }
                .hero-card .card-cont .desplegable.show .desp-cont {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 15px;
                    position: relative;
                    right: -20px;
                }
                    .hero-card .card-cont .desplegable.show .desp-cont img {
                        cursor: pointer;
                    }
                .hero-card .card-cont .desplegable.show::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: hsl(217, 19%, 35%);
                    position: relative;
                    bottom: -25px;
                    left: -80px;
                    transform: rotate(45deg);
                }
                .hero-card .card-cont .desplegable.show .desactive {
                    display: none;
                    visibility: hidden;
                }
@media (max-width: 800px) {

    .hero-card {
        width: 325px;
        height: 515px;
        flex-direction: column;
    }

        .hero-card .hero-img {
            width: 100%;
            min-height: 200px;
            background-position: 0px -15px;
            border-radius: 10px 10px 0 0;
        }

        .hero-card .card-cont .desplegable.show {
            visibility: visible;
            width: 325px;
            min-height: 70px;
            border-radius: 0 0 10px 10px;
            position: relative;
            top: -60px;
            right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: hsl(217, 19%, 35%);
            gap: 15px;
        }

        .hero-card .card-cont .desplegable.show::after {
            display: none;
            visibility: hidden;
        }

        .hero-card .card-cont .desplegable.show .desp-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;
            position: relative;
            right: 0px;
        }

        .hero-card .card-cont .desplegable.show .desactive {
            display: initial;
            visibility: visible;
            cursor: pointer;
            color: white;
            background: hsl(214, 17%, 51%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

}
